{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HTML Dosyasındaki Veriler</title>
</head>
<body>
	<h1>MRF MÜŞTERİ MESAJI</h1>
	<a href="" id="demo">ürünün linki</a>
	<ul> 
        <li>Müşteri Mail:   {{email}}</li>
		<li>Müşteri İsim-Soyisim:   {{name}}</li> 
		<li>Müşteri Telefon:   {{tel}}</li> 
		<li>Müşteri Mesajı:   {{message}}</li>  
        <li>Bilgi almak istediği ürünün ismi: {{blogss.title}}</li>
        <a href="{{url}}" class="btn btn-danger d-block ">KEŞFET</a>
		
	</ul>




</body>
</html>